/*---------------------------------HEADER-------------------------------*/
header{
    background-color: #E9CFC2;
    padding: -2em;
}
.header1 {
    display: flex;
}
.logo img {
    width: 250px;
    height: 100px;
}
.logo{
    margin-left: 550px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.carrito {
    margin-left: 480px;
    margin-top: 60px;
}
h1{
    font-family:'Bridga Goldeni', sans-serif;
    text-align: center;
    margin-top: 2em;
}
.nav ul{
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 0.5em;
    margin: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;
    transition: .5s;
}
a:hover{
    color: #f3b9af;
}
.dropbtn{
    background-color:#333;
    color: white;
    padding: 0.5em;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #ffa18a;
}
/* ------------------------ BODY - ------------------------------*/
body{
    margin: 0;
    overflow-x: hidden;
    background-color:rgb(255, 238, 255);
}
/* ------------------------ Fila 1- ------------------------------*/
.anillosf1 {
    display: flex;
    margin: 1em;
}
.anillo_alas {
    margin: 3em;
    margin-top: 4em;
    text-align: center;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.anillo_mariposa {
    text-align: center;
    margin: 3em;
    margin-left: 4em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.anillo_arbol {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color:#f3b9af;
    line-height: 5px;
}
.ojoturco{
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color:#f3b9af;
    line-height: 5px;
}
/* ------------------------ Fila 2 -------------------------------*/
.anillosf2 {
    display: flex;
    margin: 1em;
    margin-top: -2em;
}
.bolas {
    margin: 3em;
    margin-top: 4em;
    text-align: center;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.coronastras {
    text-align: center;
    margin: 3em;
    margin-left: 4em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.coronitas {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.laurel {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
/*----------------------FILA 3------------------*/
.anillosf3 {
    display: flex;
    margin: 1em;
    margin-top: -2em;
}
.stras {
    margin: 3em;
    margin-top: 4em;
    text-align: center;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.diamante {
    text-align: center;
    margin: 3em;
    margin-left: 4em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.infinito {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.laureld {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
/*----------------------FILA 4------------------*/
.anillosf4 {
    display: flex;
    margin: 1em;
    margin-top: -2em;
}
.colaballena {
    margin: 3em;
    margin-top: 4em;
    text-align: center;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.corazon {
    text-align: center;
    margin: 3em;
    margin-left: 4em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.dcorazon {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
.ola {
    text-align: center;
    margin: 3em;
    margin-top: 4em;
    padding: 1%;
    background-color: #f3b9af;
    line-height: 5px;
}
/*---------------------------------FOOTER---------------------------------*/
footer{
    background-color: #E9CFC2;
    padding: 3em;
    margin: 0;
    width: 100%;
}
.img1{ 
    width: 10%;
    height: 20%;
    margin-right: 2%;
}
.img2{
    margin-right: 2%;
    width: 12%;
    height: 22%;
}
.redes a{
    padding: 3px;
}
.redes1{
    display: inline-flex;
}
.redes2{
    display: flex;
    align-items: center;
}
a {
    color: #774115;
    text-decoration: none;
}
.redes a:hover{
    color: #f35034;
}
.contactos {
    display: flex;
    margin-right: 5em;
    margin-left: 5em;
    width: 100%;
}
.direccion {
    text-align: center;
    margin-left: -3em;
}
.redes {
    margin-left: 10em;
    padding-left: 7em;
    padding-right: 7em;
}
.logos {
    margin-left: -2.5em;
}
.contacto {
    text-align: center;
    margin-left: 5em;
}