/*------------------------------------BODY-------------------------------------*/
body{
    margin: 0;
    overflow-x: hidden;
    background-color:rgb(255, 238, 255);
    width: 100%;
}
.contador {
    margin-left: 81em;
}
/*------------------------------------divanillos-------------------------------------*/
.productosbody {
    display: flex;
}
.anillos {
    margin: 3em;
    padding: 7em;
    background-image: url(anillo.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    text-align: center;
}
.aros {
    margin: 3em;
    padding: 7em;
    background-image: url(Aros.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
}
/*----------h2-------*/
h2{
    font-family: 'Bridga Goldeni', sans-serif;
    font-size: medium;
    color:black;
}
.button {
    background-color: #f1b6a7;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-family: 'Bridga Goldeni', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    opacity: 1;
}
/*--------------------------------------HEADER-----------------------------*/
header{
    background-color: #E9CFC2;
    padding: -2em;
    width: 100%;
    display: block;
}
.header1 {
    display: flex;
    width: 100%;
}
.logo img {
    width: 250px;
    height: 100px;
}
.logo{
    margin-left: 280px; 
    margin-top: 30px;
}
.carrito {
    margin-left: 490px;
    margin-top: 60px;
}
h1{
    font-family:'Bridga Goldeni', sans-serif; 
}
.nav ul{
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 0.5em;
    margin: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;    
    transition: .5s;
}
a:hover{
    color: #f3b9af;
}
.clima {
    margin:1em;
    margin-top: 1em;
}
/*---------------------------------FOOTER---------------------------------*/
footer{
    background-color: #E9CFC2;
    padding: 3em;
    margin: 0;
    width: 100%;
}
.img1{ 
    width: 10%;
    height: 20%;
    margin-right: 2%;
}
.img2{
    margin-right: 2%;
    width: 12%;
    height: 22%;
}
a {
    color: #774115;
    text-decoration: none;
}
.contactos {
    display: flex;
    margin-right: 5em;
    margin-left: 5em;
    width: 100%;
}
.direccion {
    margin-left: -3em;
}
.redes {
    margin-left: 10em;
    padding-left: 7em;
    padding-right: 7em;
}
.logos {
    margin-left: -2.5em;
}
.contacto {
    margin-left: 10em;
}
.porfolio {
    margin-top: 1em;
    margin-left: 77em;
}
.porfolio img {
    width: 20px;
    height: 20px;
}